 *{margin: 0; padding: 0;}   
body {
    /* background: rgb(34, 33, 33); */
    background-color: white;
    
}
.header{
    list-style-type: none;
    display: flex;
    width: 100vw;
    /* background-color:rgb(34, 33, 33) ; */
     /* position: sticky; */
    top: 0px;
    margin: 0;
    height:20vh;    
     z-index: 2; 
    
    
}

.bar{


    display: flex;
    justify-content: flex-start;
    background: rgb(43, 40, 40);
    width: 75vw;
    margin-left: 25vw;
    height: 11vh;
     margin-top: 2.5vh; 
    position: fixed;
     padding-top: 4vh; 
    
}

.bar > li{
    list-style: none;
}


.bar_item{
    display: flex;
    justify-content: center;
    width: 9vw;
    
    height: 6vh;
     
    border-radius: 5px;
    text-align: center;
  

    margin-left: 1.3vw;
    background: rgb(241, 166, 4);
    color: white;
    text-decoration: none;
     font-family: 'Courier New'; 
    font-size: 1.2vw;

}
 .bar_item:hover{background: rgb(201, 132, 5)}
.title
{
  
    width: 25vw;
    height: 17vh;
    background: rgb(241, 166, 4); 
    padding-top: 3vh; 
    margin-top: 0px;
    text-align: center; 
  position: fixed;
    
   
  
}
.maintitle{
   
    text-decoration: none;
    color: white;
    font-family: 'Segoe Print';
    text-shadow: 2px 2px 4px #636463, 0 0 5px #0000FF;  
    font-size: 3vw;
   
}
.com{
  display: inline;
  margin-left: 0;
  padding-left: 0;
  color: rgb(43, 40, 40); 
   
    
}
.header ul li ul li {
    display: none;
    width: 100%;
    height: 6vh;
    background:rgb(241, 166, 4) ;
    list-style: none;
    margin-top: 2px;
    border-radius: 5px;
    text-align: center;
    transition: ease 0.5s;
    font-size: 1.4vw;
}
.header ul li ul{
    margin-left:1.3vw ;
    width: 9vw;
    padding-left: 0px;
    
}

.header ul li ul li:hover{
    background: rgb(201, 132, 5);
    font-size: 1.5vw;
}
.courseSubMenu{
    text-decoration: none;
    color: white;
    font-family: 'Courier New';
   
  
    
}
.header ul li:hover ul li{
    display: block;
}

.bar_item :hover .coursesMenu .cm{
    display: block;
    position: absolute;
    background: orange;
    margin-top: 15px;

}

.adminPanel{
    display: flex;
    flex-direction: row;
    margin-right: 0;
    
    
}
.outputPanel{
    
    width: 75vw;
    height: 100vh;
    margin-left: 25vw;
   
    
}
.menu{
    height: 100vh;
    width: 25vw;
    /* margin-top: 10vh; */
    margin-left: 0;
    margin-right: 0;
    background: rgb(34, 33, 33);
    padding-top: 10vh;
    position: fixed;
    z-index: 3000;
   
}
.menu ul{
    width: 100%;
   list-style: none;
   margin: 0;

padding-left: 0;
   
}

.menu ul li{
    margin-left: 0;
    background: rgb(34, 33, 33);
   color: white;
   margin-top: 1vh;
   width: 100%;
   height: 5vh;
   text-align: center;
   padding-top: 2vh;  
   font-family: 'Courier New'; 
   font-size: 1.2vw;
   cursor: pointer;
}

 .menu ul li:hover{
    background: rgb(241, 166, 4);
}
.menu ul li ul li
{
    display: none;
    width: 15vw;
    height: 5vh;  
    list-style: none;
    background: rgb(34, 33, 33);
    color: white;
    margin: 0;
    text-align: center;
    transition:  1s;
  

    
}

.menu ul li #cList{
    bottom: 40.8vh;
    width: auto;
    height: 10vh;
    position: fixed;   
    margin-left: 24.5vw;
  overflow: visible;
    transition:  1s;
    margin-top: 0;
    cursor: pointer;
  
}  
.menu ul li #vList{
    bottom: 65.02vh;
    width: auto;
    height: 10vh;
    position: absolute;   
    margin-left: 24.5vw;
  cursor: pointer;
    transition:  1s;
    margin-top: 0;
    
  
} 

.menu ul #vocab:hover #vList li
{
  display: block;
   
}
  .menu ul #courses:hover #cList li
{
  display: block;
   
}  


.hide{
    display: none;
}
#usersPanel{
   overflow: scroll;
   margin-top: 5vh;
   margin-left: 7.5vw;
   width: 60vw;
   height: 70vh;
 
}
.newCourse{
    margin-top: 10vh;
}
.newCourse form{
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-top: 5vh;
    width: 50vw;
    background: rgb(34, 33, 33); 
 

}
.newCourse form .formDiv{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12.5vw;
}
.newCourse form div label{
    color: rgb(241, 166, 4);
    font-weight: bold;
    font-family: 'Courier New';
   text-align: center;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}


#cName{
    width: 25vw;
    height: 5vh;
    background: white;
    
}
#cNum{
    width: 25vw;
    height: 5vh;
    background: white;
}
#cTitle{
    width: 25vw;
    height: 5vh;
    background: white;
}

#cHeader{
    width: 25vw;
    height: 20vh;
    
    background: white;
}

#cBody{
    width: 25vw;
    height: 40vh;
    background: white;
    
}
#fileInput{
    font-family: 'Courier New';
    color: white;
    
}
#saveButton{
    width: 5vw;
    height: 5vh;
    background: rgb(10, 150, 10);
    font-family: 'Courier New';
    border-radius: 5px;
    display: inline;
    color: white;
}
#clearButton{
    width: 5vw;
    height: 5vh;
    background: rgb(255, 153, 0);
    font-family: 'Courier New';
    border-radius: 5px;
    display: inline;
    color: white;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3vh;
    margin-bottom: 2vh;
}
.editCourse{
    margin-top: 10vh;
}
.editCourse form .editCForm{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12.5vw;
    height: 30vh;
    margin-top: 5vh;
}


.editCourse form{
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-top: 5vh;
    width: 50vw;
    height: 40vh;
    background: rgb(34, 33, 33); 
}
.editCourse form div label{
    color: rgb(241, 166, 4);
    font-weight: bold;
    font-family: 'Courier New';
   text-align: center;
   margin-top: 0.5vh;
   margin-bottom: 0.5vh;
}

#editCName{
    width: 25vw;
    height: 5vh;
    background: white;
    
}
#editCHNumber{
    width: 25vw;
    height: 5vh;
    background: white;
}
#editCHTitle{
    width: 25vw;
    height: 5vh;
    background: white;
}

#editCHHeader{
    width: 25vw;
    height: 20vh;
    
    background: white;
}

#editCHBody{
    width: 25vw;
    height: 40vh;
    background: white;
    
}
#editCFile{
    font-family: 'Courier New';
    color: white;
    
}
#editCClearButton{
    width: 5vw;
    height: 5vh;
    background: rgb(255, 153, 0);
    font-family: 'Courier New';
    border-radius: 5px;
    display: inline;
    color: white;
}
#editCDeleteButton{
    width: 5vw;
    height: 5vh;
    background: red;
    font-family: 'Courier New';
    border-radius: 5px;
    display: inline;
    color: white;
}
.editCButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3vh;
    margin-bottom: 2vh;
}
#profile ul li {
    list-style: none;
    text-align: center;
    height: 5vh;
    font-family: 'Courier New';
    color: white;
   border-top:1px solid white;
   padding-top: 2.5vh;
}
#profile ul{
    
    padding-left: 0;
    margin-top: 0;
}
#profile{
    width: 40vw;
    height: auto;
    margin-left: 17.5vw;
    margin-top: 10vh;
    background: rgb(34, 33, 33);
    
}
#profile ul .data{
    color:rgb(241, 166, 4) ;
    font-weight: bold;
}

.vocabulary{
    margin-top: 10vh;
    
}

.vocabulary form{
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-top: 5vh;
    width: 50vw;
    height: 60vh;
    background: rgb(34, 33, 33); 
}
.vocabulary form .formContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
    height: 60vh;
    
    margin-left: 7.5vw;
    
    
}
.vocabulary form  label{
    margin-top: 1vh;
    margin-bottom: 0.5vh;
    color: rgb(241, 166, 4);
    font-family: 'Courier New';
    text-align: center;
    font-weight: bold;
    
   
}
#keyword{
    height: 5vh;
  
}
#description{
    
    
}

#sbmButton{
    width: 5vw;
    height: 5vh;
    border-radius: 5px;
    background: rgb(10, 150, 10);
    color: white;
    font-family: 'Courier New';
    margin-top: 3vh;
    margin-bottom: 1vh;
    margin-left: 10vw;
}
