*{margin:0; padding:0;}

.header{
    list-style-type: none;
    display: flex;
    width: 100vw;
    /* background-color:rgb(34, 33, 33) ; */
     /* position: sticky; */
    top: 0px;
    margin: 0;
    height:20vh;    
     z-index: 2; 
    
    
}

.bar{


    display: flex;
    justify-content: flex-start;
    background: rgb(43, 40, 40);
    width: 75vw;
    margin-left: 25vw;
    height: 11vh;
     margin-top: 2.5vh; 
    position: fixed;
     padding-top: 4vh; 
    z-index: 3000;
}
@keyframes bar{
    from{top:-1vh;}
    to{top:0vh;}
}
.bar > li{
    list-style: none;
    position: relative;
    animation-name: bar;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


.bar_item{
    display: flex;
    justify-content: center;
    width: 9vw;   
    height: 6vh;     
    border-radius: 5px;
    text-align: center;
    margin-left: 1.3vw;
    background: rgb(241, 166, 4);
    color: white;
    text-decoration: none;
     font-family: 'Courier New'; 
    font-size: 1.2vw;

}
 .bar_item:hover{background: rgb(201, 132, 5)}
.title
{
  
    width: 25vw;
    height: 17vh;
    background: rgb(241, 166, 4); 
    padding-top: 3vh; 
    margin-top: 0px;
    text-align: center; 
  position: fixed;
  z-index: 3000;
   
  
}
.maintitle{
   
    text-decoration: none;
    color: white;
    font-family: 'Segoe Print';
    text-shadow: 2px 2px 4px #636463, 0 0 5px #0000FF;  
    font-size: 3vw;
   
}
.com{
  display: inline;
  margin-left: 0;
  padding-left: 0;
  color: rgb(43, 40, 40); 
   
    
}
 .header ul li ul li  {
 
   
    list-style: none;
  
} 
.header ul li ul li  a{
    display: flex;
    justify-content: center;
    width: 9vw;   
    height: 6vh;     
    border-radius: 5px;
    text-align: center;
   
    background: rgb(241, 166, 4);
    color: white;
    text-decoration: none;
     font-family: 'Courier New'; 
    font-size: 1.2vw;
    list-style: none;
    margin-top: 2px;
    border-radius: 5px;
    text-align: center;
    transition: ease 0.5s;
    display: none;
}
.header ul li ul{
    margin-left:1.3vw ;
    width: 9vw;
    padding-left: 0px;
    
}

.header ul li ul li a:hover{
    background: rgb(201, 132, 5);
    font-size: 1.5vw;
}
 .courseSubMenu{
    text-decoration: none;
    list-style: none;
  
    
} 
.header ul li:hover ul li a{
    display: block;
}

.bar_item :hover .coursesMenu .cm{
    display: block;
    position: absolute;
    background: orange;
    margin-top: 15px;

}


.searchPart{    
    margin-left: 5vw;
    margin-top: 15vh;
    
    width: 90vw;
    height:5vh;
   display: flex;
   justify-content: space-between;
   z-index: 2;
   position: absolute;
}
.searchTitle{
    position: absolute;
    text-shadow: 0 0 10px rgb(235, 172, 0), 0 0 2px #f0cc00;
    text-decoration: rgb(229, 255, 0);
   font-size: 7vh;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
    margin-left: 67vw;
}
.resultPart{
    opacity: 0.9;
    position: absolute;
    background: white;
    margin-left: 5vw;
    margin-top: 35vh;
    height: 60vh;
    width: 90vw;
    border: 2px outset;
    overflow: auto;
    
    z-index: 2;
}
.alertPart{
    width: 40vw;
    height: 5vh;
    margin-left: 5vw;
    margin-top: 2vh;
    margin-top: 5vh;
    position: absolute;
}

#search{
    width: 30vw;
    height: 5vh;
    position: absolute;
    border: 1.5px solid rgb(241, 166, 4);
    border-radius: 3px;
}
#searchButton{
    width: 5vw;
    height: 5vh;
    color: white;
    background: rgb(241, 166, 4);
    border: none;
    border-radius: 3px;
    position: absolute;
    margin-left:25vw ;
    margin-top: 7vh;
}


.hide{
    display: none;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}


#vocabPht{
 position: absolute;
margin-top: 10vh;
opacity: 1;
height: 100vh;
width: 100vw;

}