<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="../css/techVocabulary.css">
    <title>Tech Vocabolary</title>
</head>
<body>

    
        
        <div class="header" id="header"> 
           
          <div class="title">
           
            
            <a class="maintitle" href="home.html">Progtut<span class="com">.com</span> </a>
              
              
           
           
          </div>
            
           <ul class="bar">
               
               <li ><a class="bar_item" href="home.html">Home</a> </li>
               <li ><a class="bar_item"  href="home.html">Courses</a>
              
              
                <ul>
                  <li><a class="courseSubMenu" href="htmlCourse.html">HTML</a></li>
                  <li><a class="courseSubMenu"  href="cssCourse.html">CSS</a></li>
                  <li><a class="courseSubMenu" href="">JAVASCRIPT</a></li>
                  <li><a class="courseSubMenu" href="phpCourse.html">PHP</a></li>
                  <li><a class="courseSubMenu" href="">JAVA</a></li>
                  <li><a class="courseSubMenu" href="">SQL</a></li>
                  
                </ul>
              
               </li>
              
              
                <li ><a class="bar_item" href="tutorials.html">Tutorials</a> </li>
               <li ><a class="bar_item" href="techVocabulary.html">Tech Vocabulary</a> </li>
               <li ><a class="bar_item" href="aboutUs.html">About Us</a> </li>
               <li><a class="bar_item" href="login.php">Login</a>
               

           </ul>
        </div>
    
        <div class="searchPart">

        
<form action="">
    <input type="text" id="search"  onkeypress="fshijeTekstin()"  name="searchField" placeholder="write here...">
    <input type="submit" id="searchButton" onclick="shfaqTekstin();return false" readonly value="search" name="serachButton">
</form>

<div class="resultPart">


     <h3 style="color: red; " class="hide" id="alertText"></h3>
    <h2 id="html">HTML
        <p class="hide" >Hypertext Markup Language (HTML) is the standard markup language for documents designed to be displayed in a web browser. 
            It can be assisted by technologies such as Cascading Style Sheets (CSS) and 
            scripting languages such as JavaScript, ASP and PHP.
            Web browsers receive HTML documents from a local or web server or from local 
            storage and render the documents into multimedia web pages. HTML describes the structure of a web 
            page semantically and originally included cues for the appearance of the document.</p></h2>
      
            <h2 id="E-learning">E-learning                    
        <p class="hide">A learning system based on formalised teaching but with the help of electronic resources is known as E-learning.
            While teaching can be based in or out of the classrooms, the use of computers and the Internet forms the major
            component of E-learning. E-learning can also be termed as a network enabled transfer of skills and knowledge,
            and the delivery of education is made to a large number of recipients at the same or different times. Earlier,
            it was not accepted wholeheartedly as it was assumed that this system lacked the human element required in learning.
        </p>
    </h2>

    <h2 id="java">Java
        <p class="hide">Java is a general-purpose programming language that is class-based, object-oriented, and designed to
             have as few implementation dependencies as possible. It is intended to let application developers
              write once, run anywhere (WORA), meaning that compiled Java code can run on all platforms that support 
              Java without the need for recompilation. Java applications are typically compiled to bytecode that can
               run on any Java virtual machine (JVM) regardless of the underlying computer architecture.</p></h2>
    

    <h2 id="css">CSS
        <p class="hide">Cascading Style Sheets- is a style sheet language used for describing the presentation of a document written in a markup language like HTML.
            CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.CSS is designed to enable the separation of 
            presentation and content, including layout, colors, and fonts.This separation can improve content accessibility, provide 
            more flexibility and control in the specification of presentation characteristics, enable multiple web pages to share formatting 
            by specifying the relevant CSS in a separate .css file, and reduce complexity and repetition in the structural content.</p>
    </h2>
</div>

</div>
    
        <script src="../js/vocabulary.js"></script>
</body>
</html>